body{
    background-color:grey;
}

/* Navigation */

nav.nav{
    font-size: 15px;
    border-radius: 0px 15px 15px 0px;
}

nav>div.Open,.stat {
margin-left: 15px;
font-style: italic;
color: white;
}

/* Start Quiz Button */
.startbtn{
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50% -50%);
}

.startbtn>button{
    font-size: 25px;
    font-weight: bold;
    color: #007bff;
    padding: 15px;
    outline: none;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: none;
    border: 1px #007bff;
    transition: all 0.3s ease;

}

.startbtn>button:hover{
    color: white;
    background-color: #007bff;
}

/* Box Model */
.boxmodel{
    background-color: white;
    display: none;
    border-radius: 15px 15px 15px 15px;
    
}


.boxmodel>div.box-title{
    font-size: 25px;
    margin-left: 250px;
}

.box-model>div.box-title{
    text-decoration: underline;
}

div.rules{
    font-size:24px;
    height: 100%;
    width: 100%;
    border-bottom: 2px #007bff;
    align-items: center;
    font-weight: 50%;
    padding: 20px;
}

div.info{
    margin-left: 40px;
}

.information{
    padding: 15px 35px;
    align-items: center;
    justify-content: space-between;
}

.information>ul>li>span{
    color: #007bff;
}

.buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 35px;
    
}

.buttons>button{
    border: 1px transparent;
    font-size: 25px;
    cursor: pointer;
    border: 1px solid transparent;
    font-weight: bold;
    width: 150px;
    outline: none;
    height: 30px;
    transition: all 0.3s ease;
    border-radius: 5px;
    height: 50px;
}


.buttons>button.exit{
    border: 1px solid #007bff;
    color: #007bff;
    margin-right: 50px;

}

.buttons>button.exit>i{
    margin: 10px;
}


.buttons>button.exit:hover{
    color: white;
    background-color: #007bff;
}

.buttons>button.proceed{
    background-color: #007bff;
    border: 1px solid #007bff;
    color: white;
}

.buttons>button.proceed>i{
    margin: 5px;
}

.buttons>button.proceed:hover{
    background-color: #007bff;
}

/* QUIZ-BOX */
.quizbox{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50% -50%);
    width: 550px;
    background-color: #fff;
    border-radius: 5px;
    /* display: none;  */
}


/* Header */
.quizbox header{
    height: 80px;
    padding-left: 30px;
    border-radius: 5px 5px 0px 0px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.1);
}

.quizbox header>.tittle{
    font-size: 25px;
    font-weight: 700;
}

.quizbox header>.timer{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 30%;
    background-color: lightgrey;
    height: 50px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-right: 20px;
    padding: 0px 10px;
}

.quizbox header>.timer>.duration{
    font-size: 20px;
    font-weight: 500;
    user-select: none;
}

.quizbox header>.timer>.duration>i{
    opacity: 1.1;
    background-color: #fff;
    color: black;
    margin-left: 5px;
    background-color: lightgrey;
}

.quizbox header>.timer>.counter{
    font-size: 20px;
    font-weight: 500;
    background-color: #343a40;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    height: 30px;
    width: 60px;
    line-height: 30px;
    border: 1px #343a40;
    user-select: none;
}

/* Quiz Box Body */
.Quizboxbody{
    padding: 30px 30px 30px 30px;
    background-color: #fff;
}

.Quizboxbody>div.QuestionOne{
    font-size: 25px;
    font-weight: 500;
}

.Quizboxbody>.options{
    padding: 20px 0px 0px 0px;
    display: block;
}

.Quizboxbody>.options>.option{
    border: 1px solid #007bff;
    border-radius: 5px;
    background-color: aliceblue;
    padding: 10px 40px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: fit-content;
    font-size: 18px;
    font-weight: 600;
}

.Quizboxbody>.options>.option:hover{
    color: #007bff;
    background-color: #fff;
    border-color: #b8daff;
}

.Quizboxbody>.options>.option>.iconTick{
    border: 2px solid transparent;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    align-items: center;
    font-size: 12px;
    pointer-events: none;
    border-color: green;
    line-height: 20px;
    padding: 5px;
    margin-left: 15px;
    background-color: lightgreen;
}

.Quizboxbody>.options>.option>.iconTick>i{
    color: green;
}


.Quizboxbody>.options>.option>.iconX{
    border: 2px solid transparent;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    align-items: center;
    font-size: 12px;
    pointer-events: none;
    border-color: red;
    line-height: 20px;
    padding: 5px;
    margin-left: 15px;
    background-color: #f8d7da;
}

.Quizboxbody>.options>.option>.iconX>i{
    color: red;
    
}

/* QUIZ BOX FOOTER */

.quizbox>footer{
height: 50px;
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
}

.quizbox>footer>.total-score>span{
    user-select: none;
    display: flex;

}

.quizbox>footer>.total-score>span>p{
   font-weight: bold; 
   padding: 5px;
   font-size: 20px;
   
}

.quizbox>footer>.total-score>span>p:first-child{
    margin-left:15px ;
}
footer>.proceed-btn{
    border: 1px solid #007bff;
    border-radius: 5px;
    background-color: aliceblue;
    padding: 10px 40px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: fit-content;
    font-size: 18px;
    font-weight: 600;
    margin-right: 15px;
    transition: all 0.3s ease;
}

footer>.proceed-btn:hover{
    color: #007bff;
    background-color: #fff;
    border-color: #b8daff;  
}

/* End Result */
.endResult{
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50% -50%);
    width: 50%;
    height: 50%;
    background-color: #fff;
    border-radius: 5px;
    display: none; 
}

.endResult>.icon{
margin-left: 90px;
size: 100%;
}

.endResult>.completeText{
    font-size: 24px;
    align-items: center;
    font-weight: 600;
    margin-left: 50px;
    margin-top: 20px;

}

.endResult>.score-test{
height: 50px;
width: 100%;
align-items: center;
justify-content: space-between;
}

.endResult>.score-test>span{
    user-select: none;
    display: flex;
    font-size: 20px;
    padding: 25px;
    font-weight: 600;

}


.endResult>.score-test>span>p{
   font-weight: bold; 
   padding: 5px;
   font-size: 20px;
}


.endResult>.score-test>span>p:first-child{
    margin-left: 15px;
}

.endResult>.End-btn{ 
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 35px;
}

.endResult>.End-btn>button{
    border: 1px transparent;
    font-size: 25px;
    cursor: pointer;
    border: 1px solid transparent;
    font-weight: bold;
    width: 150px; 
    transition: all 0.3s ease;
    border-radius: 5px;
    height: 30px;
    margin: 60% 0px 0px 50px;
    margin-top: 500px;
}

.endResult>.End-btn>button:last-child{
    margin-right: 90px;
}

.endResult>.End-btn>button.restart{
    background-color: #007bff;
    border: 1px solid #007bff;
    color: white;
    line-height: 24px;
}

.endResult>.End-btn>button.restart:hover{
    background-color: #007bff;
}


.endResult>.End-btn>button.quit{
    border: 1px solid #007bff;
    color: #007bff;
    margin-right: 50px;
    line-height: 25px;
}

.endResult>.End-btn>button.quit:hover{
    color: white;
    background-color: #007bff;
}